body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

header {
  background: #222;
  padding: 10px;
}

.controls button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 14px;
}

.settings {
  margin: 10px;
}

canvas {
  border: 2px solid #333;
  width: 90%;
  max-width: 1000px;
}
